body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-left: 30px;
    height: 100vh;
    margin: 0;
    color: black;
}

.login-container {
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./Hospital-Management-System-1.png'); /* Replace with your image path */
    background-size: cover; /* Adjust to cover the container */
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.login-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-header {
    color: black;
}